{% extends 'base.html' %}

{% block content %}
    <h2>Sidebar</h2>
    <p>This sidebar is of full height (100%) and always shown.</p>
    <p>Scroll down the page to see the result.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit cumque alias accusantium vitae quod quisquam totam nesciunt necessitatibus, impedit, ab delectus quos! Ab atque voluptates impedit consequatur reiciendis magni quisquam?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit corporis obcaecati, cupiditate quaerat ut maiores, corrupti vero quo ipsam beatae fugit quae facere eius quasi odio itaque iure deserunt repudiandae?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, maxime possimus. Perspiciatis id non illum earum doloribus itaque, architecto, recusandae eum repellat consectetur ipsa rerum voluptatem, aspernatur labore possimus alias.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam id ducimus quae nesciunt quos ab repudiandae aperiam repellendus quia libero placeat dolores eaque minima adipisci doloribus, maxime, perferendis illum. Magnam!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, repellendus explicabo. Impedit aut voluptatem quisquam fugiat expedita aperiam suscipit blanditiis accusantium repellendus doloribus? Ullam, tempora. Veritatis, magnam! Facere, tempore dolores?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur voluptates in iusto vero amet laborum esse vitae eius laudantium, illo incidunt pariatur. Consequuntur, ipsum veniam possimus officia ea officiis deleniti!
    </p>
{% endblock %}