.sidenav {
  position: fixed;
  display: block;
  min-height: 100%;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 240px;
  background-color: #010101;
}
/* .sidenav nav {
  margin: 30px 15px !important;
} */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

